<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">



	<bean class="com.xl.code.study.no_3.Student" id="student" init-method="start">
		<constructor-arg index="0" value="1"></constructor-arg>
		<constructor-arg index="1" value="小刘"></constructor-arg>
	</bean>

<!--	<bean class="com.xl.code.study.no_3.Teacher" id="teacher">-->
<!--		<property name="id" value="1"/>-->
<!--		<property name="name" value="小刘"/>-->
<!--		<property name="subject" value="脱发精英"/>-->
<!--	</bean>-->

	<!--开启自动依赖注入 @Autowired...注解-->
	<context:component-scan base-package="com.xl.code.study.*"/>


	<!-- 注册InstantiationAwareBeanPostProcessor对象 -->
<!--		<bean class="com.xl.code.study.no_3.MyInstantiationAwareBeanPostProcessor"></bean>-->

</beans>